@using Blog.Data.Models.ViewModels.Review
@model List<ReviewPreviewModel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Review Board</h1>
    <form method="get" asp-action="Index">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="search" placeholder="Search Reviews" value="@ViewBag.Search" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <vc:created-reviews title="Reviews"></vc:created-reviews>
    <div class="card-container">
        @foreach (var review in Model)
        {
            <div class="card">
                <div class="tag-overlay">
                    @if (review.TopPick)
                    {
                        <span class="top-pick">Top Pick</span>
                    }

                    @if (review.SpecialOffer)
                    {
                        <span class="special-offer">Special Offer</span>
                    }
                </div>
                <div class="header">
                    <img src="@review.ImageUrl" class="image" alt="@review.Title">
                </div>

                <div class="pricing-and-votes">
                    @foreach (var tag in review.Tags)
                    {
                        <span class="tag">@tag</span>
                    }
                </div>
                <div class="info">
                    <a asp-controller="Reviews" asp-action="Index" asp-route-Id="@review.Id">
                        <span class="title">@review.Title</span>
                    </a>
                    <div class="creation-date">@review.CreationDate</div>
                    <div class="description">@(review.Description.Length > 60 ? review.Description.Substring(0, 60) + "..." : review.Description)</div>
                    <div class="pricing-and-votes">
                        @foreach (var strategy in review.PricingStrategies)
                        {
                            <span class="pricing-strategy">@strategy</span>
                        }
                    </div>
                </div>
                <div class="vote-edit-buttons">
                    @if (User.IsInRole("admin"))
                    {
                        <div>
                            <a asp-controller="Reviews" asp-action="Edit" asp-route-id="@review.Id" class="btn btn-warning">Edit</a>
                            <a asp-controller="Reviews" asp-action="Delete" asp-route-id="@review.Id" class="btn btn-danger">Delete</a>
                        </div>
                    }
                    <div class="votes">
                        <span><i class="fas fa-thumbs-up text-success"></i> @review.UpVotes</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



