@model Blog.Data.Models.ResponseModels.Article.ArticleCompleteModel

@{
    Layout = "_Layout";
}


@{
    ViewData["Title"] = Model.Title; // Set the title of the page
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>@Model.Title</h1>
            @if (!string.IsNullOrEmpty(Model.Description))
            {
                <div class="article-subtitle">@Model.Description</div>
            }
        </div>
    </div>

    <div class="row">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <div class="col-md-12">
                <img src="@Model.ImageUrl" alt="Article Image" class="article-image" />
            </div>
        }

        <div class="col-md-12 article-metadata">
            <p><strong><em>Creator:</em></strong> <span style="color: grey;">@Model.Creator</span></p>
            <p><strong><em>Creation Date:</em></strong> <span style="color: grey;">@Model.CreationDate</span></p>
            <p><strong><em>Last Time Edited:</em></strong> <span style="color: grey;">@Model.LastModifiedOn</span></p>
            <p><strong><em>Up Votes:</em></strong> <span style="color: grey;">@Model.UpVotes</span></p>
            <p><strong><em>Down Votes:</em></strong> <span style="color: grey;">@Model.DownVotes</span></p>
        </div>

        <div class="col-md-12 article-content">
            <p>@Html.Raw(Model.Content)</p>
        </div>
    </div>

    <div class="row">
        @if (!string.IsNullOrEmpty(Model.VideoUrl))
        {
            <div class="col-md-12 related-video">
                <h3>Related Video</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="@Model.VideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        }
    </div>

    <div class="row">
        @if (!string.IsNullOrEmpty(Model.ExternalArticleUrl))
        {
            <div class="col-md-12 external-link">
                <h3>External Article Link</h3>
                <p><a href="@Model.ExternalArticleUrl" target="_blank">Read more</a></p>
            </div>
        }
    </div>
</div>