@using Blog.Data.Models.ViewModels.Article;
@model List<ArticlePreviewModel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "AI News Dashboard";
}

<link rel="stylesheet" href="~/lib//styles/article/articles-preview.css" />

<div class="container">
    <h1>News</h1>

    @if (Model.Count == 0)
    {
        <p>No articles available.</p>
    }
    else
    {
        <div class="article-card-container">
            @foreach (var article in Model)
            {
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-top">
                            <div class="card-image-container">
                                <a href="@article.Url" target="_blank">
                                    <img src="@article.ImageUrl" class="card-img-top" alt="@article.Title">
                                </a>
                            </div>

                            <div class="card-info">
                                <a href="@article.Url" target="_blank">
                                    <p class="card-title">@article.Title</p>

                                    <p class="upload-date">@article.UploadDate</p>
                                    <p class="upload-date"> <strong>Source: </strong>@article.ProviderName</p>
                                </a>
                            </div>

                        </div>

                    </div>
                    @if (User.IsInRole("admin"))
                    {
                        <div class=admin>
                            <a asp-controller="Articles" asp-action="Edit" asp-route-id="@article.Id" class="btn btn-warning admin-btn">Edit</a>
                            <a asp-controller="Articles" asp-action="Delete" asp-route-id="@article.Id" class="btn btn-danger admin-btn">Delete</a>
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>