@model List<ArticleViewModel>

@{
    Layout = "_Layout";
}

<div class="container">
    <h1>Article Board</h1>

    <!-- Search Form -->
    <form method="get" asp-action="Index">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="search" placeholder="Search Articles" value="@ViewBag.Search" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <div class="row">
        @foreach (var article in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@article.ImageUrl" class="card-img-top" alt="@article.Title">
                    <div class="card-body">
                        <h5 class="card-title">@article.Title</h5>
                        <p><strong><em>Created Date:</em></strong> <span style="color: grey;"> @article.CreationDate</span></p>
                        <p><strong><em>Up Votes:</em></strong> <span style="color: grey;"> @article.UpVotes</span></p>
                        <p><strong><em>Creator:</em></strong> <span style="color: grey;">@article.Creator</span></p>

                        @if (User.IsInRole("admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@article.Id" class="btn btn-warning">Edit</a>
                        }

                        <a asp-action="Article" asp-route-articleId="@article.Id" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>